{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #c0e5f9;
    text-align: center;
    text-color: #0008a3;
}
nav { 
    text-color:#fffff;
}
header {
    background: #007BFF;
    padding: 1rem 0;
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
}

.centered-image {
    max-width: 50%; 
    height: auto;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
h2 {
    font-weight: bold;
}

.content-section {
    margin: 20px;
}
nav ul {
    list-style: none;
    text-align: center;
   
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #0008a3;
    text-decoration: none;
    font-size: 1.2rem;
    text-color: #0008a3;
}

.hero {
    background: #28a745;
    color: white;
    padding: 50px 20px;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
}

section {
    padding: 50px 20px;
    margin: 20px 0;
}

.about, .services, .contact {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

.service {
    margin-bottom: 30px;
}

.service h3 {
    color: #007BFF;
}
.products-section {
    margin: 20px auto;
    padding: 20px;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 10px;
}

.product-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
}

.product-card img {
    max-width: 30%; 
    height: auto; 
    margin: 0 auto;
    display: block;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.product-card h3 {
    margin-top: 15px;
    font-size: 1.2rem;
    color: #007BFF;
}
.social-media img {
    width: 10%;
    height: auto; 
}
form input, form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

form button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 30px;
}

